body{
	padding: 100px 15%;
	font-family: Roboto;
	margin: 0;
}

::selection {
  color: white;
  background: black;
}

#branding{
	height: 30px;
	position: fixed;
	top: 10px;
	background-color: white;
	left: 0;
	color: black;
	font-weight: 700;
	width: 100%;
	padding: 0px 15%;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

#branding span{
	outline: none;
}

input{
	border: none;
	border-bottom: 1px solid #d3d3d3;
	width: 100%;
	font-size: 18px;
	padding-bottom: 10px;
}

input::placeholder{
	color: #d3d3d3;
}

.list{
	display: flex;
	align-items: center;
	line-height: 45px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	width: 1.3rem;
	height: 1.3rem;
	border: 1px solid #808080;
	margin: 0;
}

input[type="checkbox"]:focus {
	border: 1px solid teal;
}

input[type="checkbox"]:checked {
	position: relative;
	background: none;
}

input[id="checkbox"]:checked::after {
	position: absolute;
	top: 0.28rem;
	left: 0.26rem;
	content: "";
	width: 0.6rem;
	height: 0.3rem;
	border: 1.5px solid black;
	border-right: none;
	border-top: none;
	transform: rotate(-45deg);
}

label{
	margin-left: 10px;
}

#charlengthwrapper{
	font-size: 12px;
	display: block;
	text-align: right;
	margin-top: 10px;
	color: #696969;
}

.list:hover #timecreated{
	visibility: visible;
}

#timecreated{
	visibility: hidden;
	font-size: 10px;
	color: #d3d3d3;
	display: inline-block;
}