
::selection {
	color: white;
	background: black;
}

body {
	padding: 100px 15%;
	font-family: Roboto;
	margin: 0;
	background-color: white;
}

#branding {
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0;
	color: black;
	font-weight: 700;
	width: 100%;
	padding: 0px 15%;
	display: flex;
	align-items: center;
	white-space: nowrap;
	background-color: white;
}

#branding span {
	outline: none;
}

input {
	border: none;
	border-bottom: 1px solid #d3d3d3;
	width: 100%;
	font-size: 18px;
	padding-bottom: 10px;
}

input::placeholder {
	color: #d3d3d3;
}

#taskmanager {
	margin-top: 65px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#list {
	width: 40%;
}

#completed {
	width: 40%;
}

.list{
	display: flex;
	align-items: center;
	line-height: 45px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	width: 1.3rem;
	height: 1.3rem;
	border: 1px solid black;
	margin: 0;
}

input[type="text"]:focus {
	outline: none;
}

input[type="checkbox"]:focus {
	border: 1px solid teal;
}

input[type="checkbox"]:checked {
	position: relative;
	background: none;
}

input[id="checkbox"]:checked::after {
	position: absolute;
	top: 0.28rem;
	left: 0.26rem;
	content: "";
	width: 0.6rem;
	height: 0.3rem;
	border: 1.5px solid black;
	border-right: none;
	border-top: none;
	transform: rotate(-45deg);
}

input[type="checkbox"]:hover {
	position: relative;
	background: none;
}

input[id="checkbox"]:hover::after {
	position: absolute;
	top: 0.28rem;
	left: 0.26rem;
	content: "";
	width: 0.6rem;
	height: 0.3rem;
	border: 1.5px solid black;
	border-right: none;
	border-top: none;
	transform: rotate(-45deg);
}

label {
	margin-left: 10px;
}

#charlengthwrapper {
	font-size: 12px;
	display: block;
	text-align: right;
	margin-top: 10px;
	color: #696969;
}

.list:hover .timecreated {
	visibility: visible;
}

.list:hover #deleteitem {
	visibility: visible;
}

#sort{
	margin-left:auto;
	float: right;
}

.list:hover{
	background-image: linear-gradient(to right, white, #f9fbfd);
}

.timecreated {
	visibility: hidden;
	font-size: 12px;
	color: #d3d3d3;
	display: inline-block;
	margin-left: auto;
}

.tm--title {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #7d7d7d;
	margin-bottom: 30px;
}

#helper{
	visibility: hidden;
}

#deleteitem{
	font-size: 12px;
	margin-left: 20px;
	visibility: hidden;
	padding-right: 30px;
}

#deleteitem:hover{
	color: red;
}

@media screen and (max-width: 500px) {
	#taskmanager {
		margin-top: 65px;
		display: flex;
		flex-direction: column;
	}
	#list {
		width: 100%;
		margin-bottom: 40px;
	}

	#helper{
		visibility: visible;
		color: #a1a1a185;
		margin-top: 25px;
	}
}

